# Example env for local development
DATABASE_URL=postgresql+asyncpg://djbilal:password@postgres:5432/djbilal_db
SECRET_KEY=supersecretkey
DEBUG=True
FRONTEND_ORIGINS=http://localhost:3000
LEMON_SQUEEZY_WEBHOOK_SECRET=replace-with-your-webhook-secret
