fastapi
uvicorn[standard]
sqlalchemy
asyncpg
aiosqlite
python-dotenv
pydantic-settings
alembic
email-validator
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.1.3
python-multipart
pytest
pytest-asyncio
httpx
